<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AjarinPuh|SOFWARE</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/assets/css/software.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
      <div class="container-fluid">
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img
                src="/assets/gambar/logo.png"
                alt="Logo"
                width="30"
                height="30"
                class="d-inline-block align-text-top"
              />
              PuhAjarin
            </a>
          </div>
        </nav>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../view/dasboard.html"
                >Beranda</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tentang Kami</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Kelas Tersedia
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/view/hardware.html">Ajarin Hardware</a></li>
                <li><a class="dropdown-item" href="/view/software.html">Ajarin Software</a></li>
                <li><a class="dropdown-item" href="/view/office.html">Ajarin Office</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Navbar End-->
    
  <div class="text-wreaper">
    <div class="text">
      <span>
        <h1 class="h1-class">PELAJARI SOFWARE BERSAMA KAMI</h1>
        <p class="p-class">Pembelajari Cara Membuat Website Sederhana</p>
        <h3 class="h3-class">MULAI DARI MANA ?</h3>
      </span>
    </div>
  </div>


  <div class="container">

    <div class="card">
  
      <div class="face face1">
  
        <div class="content">
  
          <span class="stars"></span>
  
          <h2 class="html">HTML</h2>
  
          <p class="html">berfungsi untuk membuat struktur website hingga menyusun format teks dan gambar pada halaman web</p>
  
          <a href="/view/software/html.html" class="go-1">PELAJARI</a>

        </div>
  
      </div>
  
      <div class="face face2">
  
        <img src="/assets/gambar/html.png" alt="" class="image">
  
      </div>
  
    </div>
  
    <div class="card">
      
      <div class="face face1">
  
        <div class="content">
  
          <span class="stars"></span>
  
          <h2 class="css">CSS</h2>
  
          <p class="css">pemrograman yang digunakan untuk menentukan bagaimana dokumen dan website akan disajikan</p>

          <a href="/view/software/css.html" class="go-2">PELAJARI</a>


        </div>
  
      </div>
  
      <div class="face face2">
  
        <img src="/assets/gambar/css.png" alt="" class="image">
  
      </div>
  
    </div>
  
    <div class="card">
  
      <div class="face face1">
  
        <div class="content">
  
          <span class="stars"></span>
  
          <h2 class="js">JS</h2>
  
          <p class="js"> bahasa pemrograman yang digunakan developer untuk membuat halaman web yang interaktif.</p>
          
          <a href="/view/software/js.html" class="go-3">PELAJARI</a>
  
        </div>
  
      </div>
  
      <div class="face face2">
  
        <img src="/assets/gambar/js.png" alt="" class="image">
  
      </div>
  
    </div>
  
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>